.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #f1356d;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 2rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  button[type='submit'] {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #f1356d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button[type='submit']:hover {
    background-color: #d81c5c;
  }
  