.FAQ-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ffffff;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #f1356d;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  p {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #58565e;
  }
  
  p:last-child {
    font-size: 1.8rem;
    color: #58565e;
    margin-bottom: .5rem;
    font-weight:normal;
  }