.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f1356d;
  }
  
  p {
    font-size: 1.5rem;
    color: #333;
  }
  img {
    height: 300px;
  } 

  