.navbar {
    background-color: #dc1721;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .navbar-logo {
    width: 80px;
    height: 80px;
  }
  .navbar-logo-link {
    display: inline-block;
    width: 70px;
    height: 70px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .nav-item {
    margin-right: 40px;
  }
  
  .nav-link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    
  }

  .active {
    color: white;
  }
    .navbar-home-image {
      width: 120px;
      height: 120px;
      margin-right: 5px;
    }
    .navbar-cart-image {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  
  .nav-link:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
  }

  .cart-link {
  float: right;
  }

  .cart-link:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }