.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .navbar-logo {
    width: 80px;
    height: 80px;
  }
  .navbar-logo-link {
    display: inline-block;
    width: 70px;
    height: 70px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .nav-item {
    margin-right: 40px;
  }
  
  .nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }